# Не включаем папку с данными в контекст сборки
data

# Исключаем виртуальные окружения и кеши
.venv
__pycache__/
*.py[cod]
*.swp

# Локальные настройки и артефакты разработки
.env
*.log

# Сборочные артефакты
build/
dist/
*.egg-info/

# Скрытые системные файлы
.DS_Store
